/* =========================
   admin.html 전용 스타일
   ========================= */

/* sticky header */
table thead th {
  position: sticky;
  top: 0;
  background: #bae4ff !important;
  z-index: 5;
}

/* 수정된 행 강조 */
.modified {
  background-color: #fff8d1 !important;
}

.controls {
  text-align: left;
  margin-top: 20px;
  font-weight: bolder;
}
