/* =========================
   index 전용
   ========================= */

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  font-size: 16px;
}

.adminButtonBox {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}
